* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.navbar {
  height: 100vh;
  width: 100%;
  background-color: #2e6f6c;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}
.btn {
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  border-radius: 30px;
  transition: transform 0.4s;
}
.btn:hover {
  transform: scale(1.2);
}
@media screen and (max-width: 1800px) {
  .box {
    grid-template-columns: 30% 30%;
  }
}
@media screen and (max-width: 1200px) {
  .box {
    grid-template-columns: 60%;
  }
}
