<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filePath" value="D:\Documents\Programming\C#\App"/>
	</appSettings>
	<connectionStrings>
		<add name="Database" connectionString="Server=.\sql2016;Database=Database;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>